:root {
  --active-color-primary: #02203c;
  --active-color-secondary: #021221;
  --hollow-button-hover-text: #02203c;
  --color-primary: #02203c;
  --color-secondary: #02192E;
  --color-tertiary: #021221;
  --background-primary: #fff;
  --background-secondary: #ECECEC;
  --tooltip-background-primary: #010c16;
  --popup-background-primary: #02192E;
  --button-background-primary: #021221;
  --button-background-primary-hover: #021425;
  --text-primary: #282828;
  --text-secondary: #535353;
  --text-light-primary: #fff;
  --text-light-secondary: #9F9F9F;
  --border-radius-primary: 12px;
  --width-main: 1200px;
  --width-main-max: 90%;
  --spacing-primary: 25px;
  --spacing-secondary: 10px;
  --spacing-tertiary: 7px;
}

[data-theme="dark"] {
  --active-color-primary: #fff;
  --active-color-secondary: #8d8d8d;
  --background-primary: #2a2560;
  --background-secondary: #242055;
  --text-primary: #fff;
  --text-secondary: #939393;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-primary);
  color: var(--text-primary);
  height: 200vh;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: inherit;
}

* {
  box-sizing: border-box;
}
