.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 1414;
}
.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secondary);
    color: var(--text-light-secondary);
    width: var(--width-main);
    max-width: var(--width-main-max);
    border-radius: var(--border-radius-primary);
    padding: var(--spacing-secondary);
    transition: box-shadow .2s;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
}
.navbar-tab-container {
    display: flex;
}
.navbar-tab {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: var(--border-radius-primary);
    cursor: pointer;
    transition: color .2s;

    &.active {
        background-color: var(--color-tertiary);
        color: var(--text-light-primary);
    }
    &:hover {
        color: var(--text-light-primary);
    }
}
.ham {
    display: none;
    cursor: pointer;
    padding: 8px;
    border-radius: var(--border-radius-primary);
    transition: background-color .2s;

    svg {
        width: 25px;
        fill: var(--text-light-primary);
        display: block;
    }

    &:hover {
        background-color: var(--color-tertiary);
    }
}
.theme-switch {
    svg {
        width: 42px;
        display: block;
        fill: var(--text-light-secondary);
        cursor: pointer;
        padding: 10px;
        border-radius: var(--border-radius-primary);
        transition: background-color .2s, fill .2s;

        &:hover {
            background-color: var(--color-tertiary);
            fill: var(--text-light-primary);
        }
    }
}
[data-theme="light"] .theme-switch {
    svg:first-child {
        display: none;
    }
}
[data-theme="dark"] .theme-switch {
    svg:last-child {
        display: none;
    }
}

.header {
    overflow: hidden;
    margin-bottom: -2px;
    &>svg {
        width: 100%;
        margin-top: -160px;
        display: block;
    }
}
.header-content {
    width: var(--width-main);
    max-width: var(--width-main-max);
    margin: 0 auto;
    color: var(--text-light-secondary);
    padding: 250px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.header-text {
    width: 600px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1, h2, p {
        margin: 0;
    }
    h1 {
        color: var(--text-light-primary);
        font-weight: 600;
        font-size: 48px;
        margin-bottom: var(--spacing-tertiary);
        height: 64px;

        .bold {
            font-weight: 700;
        }
    }
    h2 {
        font-size: 38px;
        font-weight: 400;
    }
    p {
        font-size: 21px;
        line-height: 34px;
        margin: var(--spacing-primary) 0;
    }

    &>*:not(.no-fade) {
        opacity: 0;
        animation: header-fade-in .8s ease forwards;
        animation-delay: var(--animation-delay);
    }
}
@keyframes header-fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.header-main {
    display: flex;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 100%;
        top: calc(50% + 5px);
        transform: translateY(-50%);
        height: 80%;
        width: 4px;
        background-color: var(--text-light-secondary);
        margin-left: 10px;
        margin-top: -2px;
        animation: pivot .6s alternate infinite ease-out;
        border-radius: 120px;
    }
    &.header-hidden {
        opacity: 0;
    }
}
@keyframes pivot {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header-animation {
    perspective: 5000px;
    position: relative;
    width: 414px;
    max-width: 100%;
    aspect-ratio: 414/273;
    cursor: pointer;
    margin-right: 75px;
    margin-left: 90px;

    &>* {
        transform-style: preserve-3d;
        position: absolute;
        top: 0;

        &:not(.active) {
            opacity: 0;
        }
    }
}
.animation-coding {
    perspective: 840px;

    &>* {
        transform-style: preserve-3d;
    }
}
.animation-interface {
    width: 420px;
    aspect-ratio: 420 / 273;
    background-color: var(--color-secondary);
    border-radius: 26px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    z-index: 1;
    position: relative;
    box-shadow: 0 37.5px 40px -17.5px rgb(0 0 0 / 40%), 46.2px 37.5px 70px -7.5px rgb(0 0 0 / 20%);
}
.code-row {
    display: flex;
    gap: 7px;
}
.code-snippet {
    height: 19.56px;
    border-radius: 120px;
    max-width: 0;
    transition-property: max-width;

    &.active {
        max-width: 200px;
    }
}
.animation-progress {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: -90px;
    width: 200px;
    height: 130px;
    perspective: 400px;
    transform: scale(.5);
    opacity: 0;
    box-shadow: 0 37.5px 40px -17.5px rgb(0 0 0 / 40%), 46.2px 37.5px 70px -7.5px rgb(0 0 0 / 20%);
    animation-delay: 400ms;

    span {
        font-size: 36px;
        font-weight: 700;
        color: var(--text-light-primary);
        display: block;
        margin-top: 7px;
    }
}
.animation-icon {
    position: absolute;
    top: -55px;
    right: -75px;
    transform: scale(.5);
    opacity: 0;
    animation-delay: 300ms;
    
    svg {
        fill: var(--text-light-secondary);
        width: 140px;
        height: 140px;
    }
}
.active {
    .animation-icon, .animation-progress {
        animation: header-animation-scale-up .5s forwards;
    }
    .animation-progress {
        animation-delay: 400ms;
    }
    .animation-icon {
        animation-delay: 300ms;
    }
}
@keyframes header-animation-scale-up {
    from {
        transform: scale(.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animation-building-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animation-building {
    .animation-interface {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
.animation-title, .animation-description, .animation-text, .animation-button {
    opacity: 0;
}
.active {
    .animation-title, .animation-description, .animation-text, .animation-button {
        animation: animation-building-in 1.5s forwards;
        animation-delay: var(--animation-delay);
    }
}
.animation-title  {
    font-weight: 700;
    font-size: 22px;
}
.animation-description {
    font-weight: 500;
    color: var(--text-light-secondary);
    font-size: 18px;
}
.animation-text {
    font-size: 16px;
    margin-top: 12px;
}
.animation-button {
    padding: 10px 14px;
    border: 1px solid var(--text-light-primary);
    border-radius: var(--border-radius-primary);
    font-weight: 600;
    margin-top: 12px;
    font-size: 14px;
}

.animation-deploying {
    .animation-interface {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    &.active {
        .animation-upload-icon-container {
            animation: upload-animation 2s infinite alternate linear;
            animation-delay: 1s;
        }
        .animation-upload-icon {
            animation: upload-arrow-in .5s forwards;

            svg {
                animation: start-upload 1s forwards;
                animation-delay: .4s;
            }
        }
        .animation-air {
            animation: air-animation .8s forwards infinite;
            animation-delay: var(--animation-delay);
        }
    }
}
.animation-upload-icon {
    background-color: var(--color-tertiary);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 50px;
        fill: var(--text-light-primary);
        display: block;
        transform: rotate(-90deg);
    }
}
.animation-air-container {
    position: absolute;
    display: flex;
    gap: 50px;
    height: 100%;
}
.animation-air {
    height: 100px;
    width: 2px;
    background-color: var(--text-light-secondary);
    border-radius: 120px;
    transform: translateY(-100%);
}
@keyframes air-animation {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(300px);
    }
}
@keyframes upload-arrow-in {
    from {
        opacity: 0;
        transform: scale(.2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes start-upload {
    10% {
        transform: scale(1) rotate(-90deg);
    }
    40%, 45% {
        transform: scaleY(.6) scaleX(1.4) translateY(20px) rotate(-90deg);
    }
    70%, 100% {
        transform: scaleY(1.4) scaleX(1) translateY(-5px) rotate(-90deg);
    }
}
@keyframes upload-animation {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    50% {
        transform: rotate(10deg) translateX(15px);
    }
    75% {
        transform: rotate(0deg) translateX(0) translateY(-5px);
    }
    100% {
        transform: rotate(-7deg) translateX(-15px);
    }
}

.about {
    background-color: var(--background-primary);

    &>svg {
        width: 100%;
        display: block;
        transform: translateY(2px);
    }
}
.about-container {
    max-width: var(--width-main-max);
    width: var(--width-main);
    margin: 0 auto;
}
.about-tabs {
    position: relative;
    display: flex;
    margin-bottom: var(--spacing-primary);
    gap: var(--spacing-primary);
}
.hidden {
    .about-tab, .about-stripe, .about-card-text h2, .about-card-text p, .about-tile, .about-link {
        animation: unset !important;
        opacity: 0 !important;
    }
}
.about-tab {
    padding: var(--spacing-secondary) 0;
    cursor: pointer;
    transition: background-color .3s, color .3s, opacity .3s;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-secondary);
    font-size: 15px;
    opacity: 0;
    animation: header-fade-in 1s forwards;

    &:hover, &.active {
        opacity: 1;
        color: var(--active-color-primary);
    }
}
.about-stripe {
    width: 36px;
    height: 2px;
    background-color: var(--active-color-primary);
    border-radius: 120px;
    position: absolute;
    top: 100%;
    left: 0;
    transition: left .3s, width .3s;
    animation: header-fade-in 1s forwards;
}
.about-card {
    max-width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-primary);
    margin-bottom: var(--spacing-primary);
}
.about-card-text {
    width: 100%;

    h2 {
        margin: 0;
        font-size: 28px;
        animation: header-fade-in 1s forwards;
        animation-delay: .3s;
        opacity: 0;
    }
    p {
        animation: header-fade-in 1s forwards;
        animation-delay: .5s;
        opacity: 0;
        margin: var(--spacing-secondary) 0 var(--spacing-primary);
        width: 700px;
        max-width: 100%;
    }
}
.about-tiles {
    --row-count: 4;
    display: grid;
    gap: calc(var(--spacing-tertiary) * 1.5);
    grid-template-columns: repeat(var(--row-count), 1fr);
}
.about-tile {
    --corner-size: 20px;
    font-weight: 500;
    color: var(--text-secondary);
    padding: calc(var(--spacing-secondary) * 1.5);
    background-color: var(--background-secondary);
    border-radius: 6px;
    border-bottom: 1-px solid var(--color-primary);
    animation: tile-in 1s forwards;
    opacity: 0;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.tile-border {
    --corner-size: 20px;
    border-radius: inherit;
    position: absolute;
    height: 100%;
    width: var(--corner-size);

    &:before, &::after {
        content: '';
        position: absolute;
        background-color: var(--color-primary);
    }
    &::after {
        height: 100%;
        width: var(--corner-size);
        background-color: var(--background-secondary);
    } 
    &:before {
        width: var(--corner-size);
        height: var(--corner-size);
    }

    &.tile-border-top {
        left: 0;
        top: 0;

        &:before {
            top: 0;
            left: 0;
            border-top-left-radius: inherit;
        }
        &::after {
            top: 1.5px;
            left: 1.5px;
            border-top-left-radius: inherit;
        }
    }
    &.tile-border-bottom {
        bottom: 0;
        right: 0;

        &:before {
            bottom: 0;
            right: 0;
            border-bottom-right-radius: inherit;
        }
        &::after {
            bottom: 1.5px;
            right: 1.5px;
            border-bottom-right-radius: inherit;
        }
    }
}
[data-theme='dark'] {
    .tile-border {
        &::before {
            background-color: var(--color-secondary);
        }
    }
}
@keyframes tile-in {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.timeline {
    --dot-width: 60px;
    --dot-height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.timeline-dot {
    width: var(--dot-width);
    height: var(--dot-height);
    background-color: var(--color-primary);
    border: 8px solid var(--color-tertiary);
    color: var(--text-light-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    animation: timeline-dot-in 1s forwards;
    opacity: 0;
}
@keyframes timeline-dot-in {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    75%, 100% {
        opacity: 1;
        transform: scale(1);
    }
}
.timeline-connector {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-tertiary);
    width: 100%;
    height: 6px;
    animation: timeline-connector-in 10s forwards;
}
@keyframes timeline-connector-in {
    0%, 15% {
        width: 0;
    }
    24%, 25% {
        width: 33%;
    }
    34%,35% {
        width: 66%;
    }
    44%, 100% {
        width: 100%;
    }
}
.about-links {
    display: flex;
    gap: var(--spacing-primary);
    margin-top: var(--spacing-primary);
}
.about-link {
    animation: header-fade-in 1s forwards;
    opacity: 0;
    display: block;

    svg {
        width: 40px;
        height: 40px;
        fill: var(--active-color-secondary);
        transition: fill .2s;

        &:hover {
            fill: var(--active-color-primary);
        }
    }
}

.projects {
    &>svg {
        width: 100%;
        margin-top: -100px;
        pointer-events: none;
        transform: translateY(6px);
    }
}
.projects-container {
    max-width: var(--width-main-max);
    width: var(--width-main);
    margin: 0 auto;
    color: var(--text-light-secondary);
}
.project-notice {
    opacity: 0;
    padding: calc(1.5 * var(--spacing-secondary));
    background-color: var(--color-primary);
    color: var(--text-light-primary);
    position: absolute;
    bottom: calc(100% + var(--spacing-primary));
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--border-radius-primary);
    width: 320px;
    max-width: var(--width-main-max);
    display: grid;
    gap: 4px;

    &>span:first-child { 
        font-size: 20px;
        font-weight: 700;
    }
    &>span:not(:first-child) {
        font-size: 14px;
    }

    &::after {
        content: '';
        border: 10px solid transparent;
        border-top-color: var(--color-primary);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}
@keyframes transform-in {
    from {
        transform: translateY(150%) translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
}
.notice-button {
    margin-top: var(--spacing-tertiary);
    button {
        width: 100%;
        justify-content: center;
    }
}
.projects-header {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: var(--spacing-primary);
    color: var(--text-light-primary);
    transition: opacity 1s, transform 1s;

    &.hidden {
        opacity: 0;
        transform: translateY(40px);
    }
}
.project-cards {
    --row-amount: 3;

    display: grid;
    grid-template-columns: repeat(var(--row-amount), 1fr);
    gap: var(--spacing-secondary);
}
.project-card {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius-primary);
    padding: var(--spacing-primary);
    transition: background-color .2s, transform 1.2s, opacity 1.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
    position: relative;
    
    &.hidden {
        opacity: 0;
        transform: translateY(100px);
    }

    &:hover {
        background-color: var(--color-tertiary);
    }
}
.project-card-header {
    color: var(--text-light-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h3 {
        font-size: 22px;
        margin: 0;
        font-weight: 600;
    }
}
.project-card-links {
    display: flex;
    align-items: center;
    gap: var(--spacing-secondary);
    position: relative;
    z-index: 2;

    svg {
        width: 18px;
        height: 18px;
        fill: var(--text-light-secondary);
        display: block;
        transition: fill .3s;

        &:hover {
            fill: var(--text-light-primary);
        }
    }
}
.project-card-description {
    font-size: 14px;
    margin-top: var(--spacing-secondary);
    display: block;
}
.project-card-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--spacing-primary);
    font-size: 14px;
}
.project-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.project-tiles {
    background-color: var(--background-secondary);
    padding: 100px 0;
}
.project-tiles-container {
    max-width: var(--width-main-max);
    width: var(--width-main);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
body[data-theme="dark"] {
    .dev-projects {
        span {
            color: var(--color-tertiary);
        }
        &::after {
            background-color: var(--color-secondary);
        }
    }
}
.dev-projects {
    display: flex;
    position: relative;
    margin: calc(-1 * var(--spacing-primary) * 2) 0;
    transition: opacity .5s;
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    span {
        background-color: var(--background-secondary);
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        z-index: 2;
        margin-left: var(--spacing-primary);
        padding: 0 var(--spacing-secondary);
        color: var(--color-primary);
    }

    &::after {
        content: '';
        height: 1px;
        width: 100%;
        background-color: var(--color-primary);
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
    }
}
.project-tile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-primary);

    &.active {
        p {
            animation: header-fade-in .7s forwards;
            animation-delay: 1s;
        }
        .project-tile-title {
            &::after {
                animation: reveal 1s forwards !important;
            }
            span {
                animation: reveal-text 1s forwards;
            }
        }
        .project-tile-button {
            animation: header-fade-in 1s forwards;
            animation-delay: 1.2s;
        }
        .project-tile-link {
            animation: header-fade-in 1s forwards;
        }
        .project-tile-image {
            animation: reveal-text 1s forwards;
            animation-delay: 1.4s;
        }
        .project-tile-image-container {
            &::after {
                animation: reveal 1s forwards;
                animation-delay: 1.4s;
            }
        }
        .project-notice {
            animation: transform-in 1.5s forwards;
            animation-delay: 2s;
        }
    }
    &:nth-of-type(2n) {
        .project-tile-main {
            order: 2;
        }
    }
}
.project-tile-main {
    width: 550px;
    max-width: 100%;

    p {
        opacity: 0;
        margin-top: var(--spacing-secondary);
        margin-bottom: var(--spacing-primary);
    }
}
.project-tile-title {
    font-size: 35px;
    margin: 0;
    position: relative;
    display: inline-block;
    
    span {
        opacity: 0;
    }
    
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background-color: var(--color-primary);
    }
}
@keyframes reveal {
    0% {
        width: 0;
    }
    50%, 65% {
        width: 100%;
    }
    65% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}
@keyframes reveal-text {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.project-tile-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-tile-button {
    opacity: 0;
}
.project-tile-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-secondary);

    svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: var(--active-color-secondary);
    }
}
.project-tile-link {
    opacity: 0;
    padding: 5px;
    margin-right: -5px;
    border-radius: 4px;
    width: 34px;
    height: 34px;
    display: block;
}
.project-tile-image-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: var(--border-radius-primary);
    overflow: hidden;
    transition: opacity .8s;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background-color: var(--color-primary);
    }
}
.project-tile-image {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.project-tile-preview {
    --image-size: 500px;
    width: var(--image-size);
    max-width: 100%;
    aspect-ratio: 5/3;
    position: relative;

    &.active {
        .project-image-content {
            transform: translate(-50%, -50%);
            left: 50% !important;
            top: 50% !important;
            width: 75vw;
            background-color: var(--background-primary);
            z-index: 1415;
        }
        .project-tile-image-container {
            opacity: 0;
        }
    }
}
.project-image-content {
    width: var(--image-size);
    max-width: 100%;
    aspect-ratio: 5/3;
    z-index: 1413;
    border-radius: var(--border-radius-primary);
    overflow: hidden;
    
    iframe {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.iframe-controls {
    position: fixed;
    z-index: 2;
    top: 15px;
    right: 30px;

    svg {
        width: 45px;
        fill: var(--text-light-secondary);
        padding: 10px;
        display: block;
        cursor: pointer;
        transition: fill .3s;
        background-color: var(--color-primary);
        border-radius: 8px;
        box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
        
        &:hover {
            fill: var(--text-light-primary);
        }
    }
}
.project-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1412;
}

.technologies {
    background-color: var(--background-secondary);
    overflow: hidden;
    padding-top: 150px;

    &.hidden {
        .technology-podium {
            animation: none !important;
        }
    }
}
.technology-podiums {
    --height: 330px;
    --row-amount: 5;
    width: var(--width-main);
    max-width: var(--width-main-max);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--row-amount), 1fr);
    align-items: flex-end;
}
.technology-podium {
    height: var(--height);
    margin: 0 -10px;
    color: var(--text-light-primary);
    z-index: 2;
    animation: show-podium 1s forwards;
    opacity: 0;

    &:last-of-type, &:first-of-type {
        height: calc(var(--height) - 60px);
        z-index: 1;
    }
    &.main {
        height: calc(var(--height) + 60px);
        z-index: 3;
    }
}
.technology-podium-content {
    --border-radius: 20px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: var(--color-primary);
    height: 100%;
    padding: var(--spacing-primary);
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
}
.technology-title {
    font-size: 34px;
    color: var(--text-primary);
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: var(--spacing-secondary);
}
.technology-extras {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-tertiary);
    font-weight: 600;
    color: var(--text-light-secondary);
    margin-top: var(--spacing-primary);
    font-size: 14px;
}
@keyframes show-podium {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer {
    padding: 80px 0;
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-secondary);
    position: relative;
    color: var(--text-light-primary);
    font-size: 40px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after, &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &::after {
        background-color: var(--color-tertiary);
    }
    &:before {
        background-color: var(--color-primary);
        z-index: 1;
    }
    &:not(.hidden)::after, &:not(.hidden):before {
        animation: show-footer 1s forwards;
    }
    &:not(.hidden)::after {
        animation-delay: .7s;
    }
}
@keyframes show-footer {
    from {
        height: 100%;
        top: 0;
    }
    to {
        height: 0;
        top: 100%;
    }
}
.contact-form {
    width: 500px;
    max-width: var(--width-main-max);
    margin-top: var(--spacing-primary);
    display: grid;
    gap: var(--spacing-secondary);
}
.footer-button {
    margin: 0 auto;
    margin-top: var(--spacing-primary);
}
.feedback {
    font-size: 16px;
    margin: 0;
    padding: var(--spacing-secondary);
    background-color: var(--color-tertiary);
    border-radius: var(--border-radius-primary);
    text-align: center;
}

@media (max-width: 1000px) {
    .header {
        h1 {
            font-size: 38px;
            height: 51px;
        }
        h2 {
            font-size: 29px;
        }
        p {
            font-size: 18px;
        }
    }
    .header-content {
        padding-top: 170px;
    }
    .project-tile-preview {
        .project-image-content {
            position: absolute !important;
            left: 0 !important;
            top: 0 !important;
        }
        &.active {
            .project-image-content {
                height: unset;
                width: 100% !important;
                transform: unset;
                left: unset !important;
                top: unset !important;
                z-index: 141414;
            }
        }
    }
}
@media (max-width: 900px) {
    .header-content {
        flex-direction: column;
    }
    .header-animation {
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 120px;
        width: 350px;
    }
    .project-cards {
        --row-amount: 2;
    }
    .technologies {
        padding: var(--spacing-primary) 0;
    }
    .technology-podiums {
        --row-amount: 2;
        gap: var(--spacing-primary);
    }
    .technology-podium {
        margin: 0;
        height: unset !important;
        animation-delay: unset !important;
    }
    .technology-podium-content {
        border-radius: var(--border-radius);
    }
}
@media (max-width: 800px) {
    .technology-podiums {
        flex-direction: column;
    }
    .technology-podium {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 700px) {
    .navbar {
        top: var(--spacing-primary);
    }
    .navbar-tab-container {
        position: fixed;
        left: 100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-tertiary);
        z-index: -1;
        transition: left .4s;
        text-align: center;

        &.mobile-visible {
            left: 0;

            .navbar-tab {
                opacity: 1;
                transform: translateX(0);
                
                &:nth-of-type(1) {
                    transition-delay: .3s;
                }
                &:nth-of-type(2) {
                    transition-delay: .4s;
                }
                &:nth-of-type(3) {
                    transition-delay: .5s;
                }
                &:nth-of-type(4) {
                    transition-delay: .6s;
                }
            }
        }
    }
    .navbar-tab-container {
        flex-direction: column;
        display: flex;
        gap: var(--spacing-secondary);
        padding-top: 160px;
    }
    .navbar-tab {
        font-size: 25px;
        opacity: 0;
        transform: translateX(var(--spacing-primary));
        transition: opacity .5s, transform .5s;
    }
    .ham {
        display: block;
    }
    .about-header, .projects-header {
        font-size: 40px;
    }
    .animation-interface {
        width: 350px;
    }
    .animation-progress {
        width: 140px;
        height: 100px;
        font-size: 12px;

        span {
            font-size: 24px;
        }
    }
    .animation-icon {
        right: -35px;
        top: -60px;
        svg {
            width: 70px;
        }
    }
    .about-container {
        padding-top: 40px;
    }
    .about-card {
        flex-direction: column;
    }
    .about-tiles {
        --row-count: 2;
        transform: none;
    }
    @keyframes tile-in {
        0% {
            transform: translateY(20px);
            opacity: 0;
        }
        50% {
            transform: translateY(-15px);
            opacity: 1;
        }
        95%, 100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .projects-container {
        padding-top: 50px;
        margin-bottom: 150px;
    }
    .project-tiles-container {
        gap: 120px;
    }
    .project-tile {
        flex-direction: column;
    }
    .project-tile-main {
        order: 0 !important;
    }
    .project-tile-main, .project-tile-preview, .project-image-content {
        width: 100%;
    }
    .project-tile-preview {
        min-width: unset !important;
    }
    .project-tile-content {
        width: unset !important;
    }
}
@media (max-width: 600px) {
    .project-cards {
        --row-amount: 1;
    }
    .animation-progress {
        left: -20px;
        bottom: -20px;
    }
    .header-content {
        padding-top: 140px;
    }
    .technology-podiums {
        --row-amount: 1;
    }
    .footer {
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    .header-animation {
        margin-bottom: 180px;
    }
    .project-card-footer {
        gap: var(--spacing-tertiary);
        flex-direction: column;
        align-items: flex-start !important;
    }
    .project-tile-title {
        font-size: 28px;
    }
    .project-tile-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-primary);
    }
    .project-tile-button {
        width: 100%;
        justify-content: center;
        
        a {
            padding: 15px 0;
        }
    }
    .about-tiles {
        --row-count: 1;
    }
    .about-links {
        justify-content: center;
        gap: 65px;
    }
}